@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Regular.ttf);
}

Body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 0;
}

#top {

    background-color: rgb(251, 234, 86);
    padding: 5% 15%;

    clear:both;
    display: table;

}

#header {
    width: 45%; 
    float: left;
    
    img{
        display: block;
        margin: 0 auto;
    }
     
}

#questionnaire {

    float: right;
    margin-top: 12%;
    
    width: 45%;
    min-width: 240px;
    font-size: 0.8em;
}

.form_input{
    border-radius: 20px;
    border: 0;
    height: 30px;
    width: 99%;
    margin: 5px 0px 10px 0px;
    background-color: white;
}


.form_select{
    border-radius: 20px;
    border: 0;
    height: 30px;
    width: 100%;
    margin: 5px 0px 10px 0px;
    background-color: white;
}

.form_button{
    border-radius: 20px;
    border: 0;
    height: 35px;
    width: 100%;
    background-color: #11AACC;
    color: white;
    font-weight: 999;
    margin: 10px 0px 10px 0px;
}

.float-left-img{
    float: left;
    margin: 20px;
}

.divisor-format
{
    margin-top: 20px;
}
            
#transition {
    background-color: rgb(78, 211, 255);
    text-align: center;
    margin: 0;
    padding: 30px;    
}

#stem {
    background-color: rgb(255, 166, 0);
    position: relative; 
    clear: both;
    display: table;
}

#stem2{
    position: relative;
    background-color: white;
    clear: both;
    display: table;
    padding: 100px 40px;

    img{
        float: right;
        margin: 20px;
    }
}

#company{
    background-color:lightgrey;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#footer {
    background-color: rgb(44, 44, 44);
    font-size: 0.7em;
    color: white;
    padding: 10px;
    margin: 0;
    position: relative;
    
    img{
        position: relative;
        left: 25%;
    }
    
    
    p{
        position: absolute;
        top: 10px;
        left: 55%;    

    }
}