@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Regular.ttf);
}

Body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 0;
}

#top {

    background-color: rgb(251, 234, 86); 
}

#header {
    width: 40%; 
    position: relative;
    left: 5%;
    
    img{
        display: block;
        margin: 0 auto;
    }
     
}

#questionnaire {
    
    width: 40%;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    left: 45%;
}

.form_input{
    border-radius: 20px;
    border: 0;
    height: 30px;
    width: 99%;
    margin: 5px 0px 10px 0px;
    background-color: white;
}


.form_select{
    border-radius: 20px;
    border: 0;
    height: 30px;
    width: 100%;
    margin: 5px 0px 10px 0px;
    background-color: white;
}

.form_button{
    border-radius: 20px;
    border: 0;
    height: 35px;
    width: 100%;
    background-color: #11AACC;
    color: white;
    font-weight: 999;
    margin: 10px 0px 10px 0px;
}
            
#transition {
    background-color: rgb(78, 211, 255);
    text-align: center;
    margin: 0;
    padding: 30px;    
}

#stem {
    background-color: rgb(255, 166, 0);
    position: relative; 

}

#stem-introduction {
    position: absolute;
    top: 0;
    left: 350px;
}

#stem2{
    position: relative;
    background-color: white;
    padding: 50px;

    p, h1{
        width: 50%;
    }

    img{
        position: absolute;
        top: 10%;
        left: 55%;
    }
}
#company{
    background-color:lightgrey;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#footer {
    background-color: rgb(44, 44, 44);
    font-size: 0.7em;
    color: white;
    padding: 10px;
    margin: 0;
    position: relative;
    
    img{
        position: relative;
        left: 25%;
    }
    
    
    p{
        position: absolute;
        top: 10px;
        left: 55%;    

    }
}